.sidebar{
    background: #eef1fa;
    padding: 20px 20px;
    height: 100vh;
    .nearest-vaccine{
        .locations{
            color: #5f74cd;
        }
        .location{
            display: flex;
            align-items: center;
            .number{
                display: inline-block;
                padding: 10px;
                width: 25px;
                height: 25px;
                background: #dde4f6;
                margin-right: 10px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
            .item{
                padding: 10px;
                background: #dde4f6;
                border-radius: 3px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title{
                    font-weight: bold;
                }
            }
        }
    }
}
.main{
    padding: 20px 50px;
    .header{
        padding: 40px 0;
        ul{
            display: flex;
            margin: 0;
            padding: 0;
        }
        ul > li{
            list-style: none;
            .selected {
                padding-bottom: 3px;
                border-bottom: 4px solid #6d7dbd;
            }
        }
        ul > li > a{
            min-width: 44px;
            min-height: 44px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 1.5em;
            margin-right: 25px;
        }
    }
    // spreading-virus component
    .box{
        background: #eef1fa;
        padding: 40px 30px;
        border-radius: 3px;
        h1{
            padding: 0;
            margin: 0;
            margin-bottom: 3px;
        }
        h1 > span{
            color: #5b83d8;
        }
        .desc_head{
            display: flex;
        }
        .desc_head > .item{
            color: #646770;
            display: flex;
            align-items: center;
            font-size: 13px;
            margin-right: 16px;
            .icon{
                font-size: 15px;
                margin-right: 5px;
            }
        }
        h2{
            font-size: 4em;
            text-align: center;
            letter-spacing: 1px;
        }
        .desc_foot{
            ul{
                display: flex;
                justify-content: space-around;
                margin: 0;
                padding: 0;
            }
            ul > li{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .value{
                    font-weight: bold;
                }
            }
        }
    }
    .spreading-list{
        h1 > span{
            color: #5b83d8;
        }
    }
}