.sidebar{
    background: #eef1fa;
    padding: 20px 20px;
    height: 100vh;
    .nearest-vaccine{
        .locations{
            color: #5f74cd;
        }
        .location{
            display: flex;
            align-items: center;
            .number{
                display: inline-block;
                padding: 10px;
                width: 25px;
                height: 25px;
                background: #dde4f6;
                margin-right: 10px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
            .item{
                padding: 10px;
                background: #dde4f6;
                border-radius: 3px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title{
                    font-weight: bold;
                }
            }
        }
    }
}
.main{
    .header{
        ul{
            display: flex;
            margin: 0;
            padding: 0;
        }
        ul > li{
            list-style: none;
            .selected {
                padding-bottom: 3px;
                border-bottom: 4px solid #6d7dbd;
            }
        }
        ul > li > a{
            min-width: 44px;
            min-height: 44px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 1.2em;
            margin-right: 25px;
        }
    }
    .box{
        background: #eef1fa;
        padding: 30px 20px;
        h1 > span{
            color: #5b83d8;
        }
        
    }
}